/* ----- General Element Styles ----- */

* {
   visibility: hidden;
}
#outer-ring {
   position: absolute;
}

#body {
   position: relative;
   margin: 0 auto;
    cursor: pointer;
   
}

body {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
}


#screen {
   max-width: 470px;
   /* border: 1px solid rgba(228, 228, 228, 0); */
}

#iris-color {
   fill: black
}
