/* ----- General Element Styles ----- */

#outer-ring {
   position: absolute;
}

#body {
   position: relative;
   margin: 0 auto;
   
}

body {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
}


#screen {
   max-width: 470px;
   /* border: 1px solid rgba(228, 228, 228, 0); */
}

