/* ----- General Element Styles ----- */

* {
   visibility: hidden;
}
#outer-ring {
   position: absolute;
}

#chasis {
   position: relative;
   margin: 0 auto;
   cursor: pointer;
   width: 500px;
   height: 500px;
   
}

body {
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
}


#screen {
   max-width: 470px;
   width: 500px;
   height: 500px;
}

#iris-color {
   fill: black;
    width: 500px;
   height: 500px;
}

.removeCursor {
   cursor: default
}

